In [1]:
"""
Name:Vamshikrishna DOmala
IMFfiles COncat
"""

'\nName:Vamshikrishna DOmala\nIMFfiles COncat\n'

In [16]:
# importing pandas
import pandas as pd
  
# merging two csv files
df1 = pd.read_excel(r'IMF_DF3-Time_WVHT.xlsx')
df2 = pd.read_excel(r'EMD_IMF_1_train.xlsx')
df3 = pd.read_excel(r'EMD_IMF_2_train.xlsx')
df4 = pd.read_excel(r'EMD_IMF_3_train.xlsx')
df5 = pd.read_excel(r'EMD_IMF_4_train.xlsx')
df6 = pd.read_excel(r'EMD_IMF_5_train.xlsx')
df7 = pd.read_excel(r'EMD_IMF_6_train.xlsx')
df8 = pd.read_excel(r'EMD_IMF_7_train.xlsx')
df9 = pd.read_excel(r'EMD_IMF_8_train.xlsx')
df10 = pd.read_excel(r'EMD_IMF_9_train.xlsx')
df11 = pd.read_excel(r'EMD_IMF_10_train.xlsx')
df12 = pd.read_excel(r'EMD_IMF_11_train.xlsx')
df13 = pd.read_excel(r'EMD_IMF_12_train.xlsx')
df14 = pd.read_excel(r'EMD_IMF_13_train.xlsx')
df15 = pd.read_excel(r'EMD_IMF_14_train.xlsx')

In [24]:
df1

                     Date  WVHT
0     2016-01-02 00:00:00  2.95
1     2016-01-02 01:00:00  3.49
2     2016-01-02 02:00:00  3.65
3     2016-01-02 03:00:00  3.30
4     2016-01-02 04:00:00  3.55
...                   ...   ...
39427 2020-07-01 19:00:00  1.90
39428 2020-07-01 20:00:00  1.85
39429 2020-07-01 21:00:00  1.87
39430 2020-07-01 22:00:00  1.86
39431 2020-07-01 23:00:00  1.90

[39432 rows x 2 columns]

In [25]:
df4

       Unnamed: 0         0
0               0 -0.015159
1               1 -0.083314
2               2 -0.063023
3               3 -0.099266
4               4 -0.116012
...           ...       ...
39427       39427 -0.028246
39428       39428 -0.014800
39429       39429  0.019459
39430       39430  0.026252
39431       39431  0.020882

[39432 rows x 2 columns]

In [23]:
dataset=pd.merge(df1['Date','WVHT'],  df4[, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15)

ValueError: indicator option can only accept boolean or string arguments

In [3]:
df.to_csv("51000h_concat_files.txt")

In [4]:
data=pd.read_excel(r"51000h_concat_files.xlsx")

In [5]:
data

,#YY,MM,DD,hh,mm,WDIR_deg,WSPD_m/s,GST_m/s,WVHT_m,DPD_sec,APD_sec,MWD_deg,PRES_hpa,ATMP_deg,WTMP_deg,DEWP_deg,VIS_mi,TIDE_ft
0,2015,1,1,0,50,252,10.0,12.3,99.00,99.00,99.00,999,1006.8,22.0,23.9,999.0,99,99
1,2015,1,1,1,50,253,9.9,13.7,99.00,99.00,99.00,999,1007.3,22.2,23.9,999.0,99,99
2,2015,1,1,2,50,253,9.1,11.0,99.00,99.00,99.00,999,1008.0,22.2,23.8,999.0,99,99
3,2015,1,1,4,50,248,8.3,10.3,99.00,99.00,99.00,999,1009.2,22.0,23.7,999.0,99,99
4,2015,1,1,5,50,254,7.7,10.0,99.00,99.00,99.00,999,1009.6,22.3,23.6,999.0,99,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82233,2020,12,31,23,10,52,8.2,10.6,99.00,99.00,99.00,999,1020.9,23.1,24.7,18.2,99,99
82234,2020,12,31,23,20,51,8.4,10.2,99.00,99.00,99.00,999,1020.7,23.2,24.7,18.3,99,99
82235,2020,12,31,23,30,60,8.6,11.2,99.00,99.00,99.00,999,1020.5,23.1,24.7,18.8,99,99
82236,2020,12,31,23,40,60,9.8,12.0,3.03,14.81,8.01,319,1020.5,22.7,24.7,18.5,99,99
82237,2020,12,31,23,50,52,8.6,12.0,99.00,99.00,99.00,999,1020.3,22.1,24.7,18.9,99,99

In [6]:
data=data[data['WVHT_m']!=99]

In [7]:
#data.to_excel("51000h_concat_files_date.xlsx")

In [8]:
data=pd.read_excel("51000h_concat_files_date.xlsx")

In [9]:
data

,#YY,MM,DD,hh,mm,Sec,Date,WDIR_deg,WSPD_m/s,GST_m/s,WVHT_m,DPD_sec,APD_sec,MWD_deg,PRES_hpa,ATMP_deg,WTMP_deg,DEWP_deg,VIS_mi,TIDE_ft
0,2015,1,1,19,0,0,2015-01-01 19:00:00,240,7.5,9.6,3.38,12.12,7.96,999,1011.4,22.6,23.2,999.0,99,99
1,2015,1,2,12,0,0,2015-01-02 12:00:00,264,5.0,6.5,2.92,9.09,7.64,999,1008.1,21.5,24.0,999.0,99,99
2,2015,1,2,18,0,0,2015-01-02 18:00:00,222,6.0,7.6,2.86,9.09,7.71,999,1008.2,22.7,23.9,999.0,99,99
3,2015,1,2,22,0,0,2015-01-02 22:00:00,209,5.8,7.4,2.46,10.81,7.39,999,1005.0,22.7,24.3,999.0,99,99
4,2015,1,2,23,0,0,2015-01-02 23:00:00,217,4.8,5.9,2.58,10.81,7.62,999,1003.7,22.7,24.4,999.0,99,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50038,2020,12,31,19,0,0,2020-12-31 19:00:00,75,6.4,8.9,3.39,14.81,8.17,308,1023.4,23.3,24.6,18.1,99,99
50039,2020,12,31,20,0,0,2020-12-31 20:00:00,82,7.2,10.3,3.18,14.81,8.15,291,1023.3,22.9,24.7,18.4,99,99
50040,2020,12,31,21,0,0,2020-12-31 21:00:00,68,7.3,9.1,3.03,14.81,8.16,289,1022.7,23.3,24.7,18.2,99,99
50041,2020,12,31,22,0,0,2020-12-31 22:00:00,51,7.9,9.7,3.19,14.81,8.31,285,1021.4,23.2,24.7,18.4,99,99
50042,2020,12,31,23,0,0,2020-12-31 23:00:00,60,9.8,12.0,3.03,14.81,8.01,319,1020.5,22.7,24.7,18.5,99,99

In [10]:
data =data.drop(['#YY','MM','DD','hh','mm','Sec','VIS_mi','TIDE_ft'], axis=1)

In [11]:
data

,Date,WDIR_deg,WSPD_m/s,GST_m/s,WVHT_m,DPD_sec,APD_sec,MWD_deg,PRES_hpa,ATMP_deg,WTMP_deg,DEWP_deg
0,2015-01-01 19:00:00,240,7.5,9.6,3.38,12.12,7.96,999,1011.4,22.6,23.2,999.0
1,2015-01-02 12:00:00,264,5.0,6.5,2.92,9.09,7.64,999,1008.1,21.5,24.0,999.0
2,2015-01-02 18:00:00,222,6.0,7.6,2.86,9.09,7.71,999,1008.2,22.7,23.9,999.0
3,2015-01-02 22:00:00,209,5.8,7.4,2.46,10.81,7.39,999,1005.0,22.7,24.3,999.0
4,2015-01-02 23:00:00,217,4.8,5.9,2.58,10.81,7.62,999,1003.7,22.7,24.4,999.0
...,...,...,...,...,...,...,...,...,...,...,...,...
50038,2020-12-31 19:00:00,75,6.4,8.9,3.39,14.81,8.17,308,1023.4,23.3,24.6,18.1
50039,2020-12-31 20:00:00,82,7.2,10.3,3.18,14.81,8.15,291,1023.3,22.9,24.7,18.4
50040,2020-12-31 21:00:00,68,7.3,9.1,3.03,14.81,8.16,289,1022.7,23.3,24.7,18.2
50041,2020-12-31 22:00:00,51,7.9,9.7,3.19,14.81,8.31,285,1021.4,23.2,24.7,18.4
50042,2020-12-31 23:00:00,60,9.8,12.0,3.03,14.81,8.01,319,1020.5,22.7,24.7,18.5

In [ ]:
data.to_excel("51000h2020_filtered.xlsx")

In [19]:
data1=pd.read_excel("51000h2020_filtered.xlsx")

In [20]:
data1

,Unnamed: 0,Date,WDIR_deg,WSPD_m/s,GST_m/s,WVHT_m,DPD_sec,APD_sec,MWD_deg,PRES_hpa,ATMP_deg,WTMP_deg,DEWP_deg
0,0,2015-01-01 19:00:00,240,7.5,9.6,3.38,12.12,7.96,999,1011.4,22.6,23.2,999.0
1,1,2015-01-02 12:00:00,264,5.0,6.5,2.92,9.09,7.64,999,1008.1,21.5,24.0,999.0
2,2,2015-01-02 18:00:00,222,6.0,7.6,2.86,9.09,7.71,999,1008.2,22.7,23.9,999.0
3,3,2015-01-02 22:00:00,209,5.8,7.4,2.46,10.81,7.39,999,1005.0,22.7,24.3,999.0
4,4,2015-01-02 23:00:00,217,4.8,5.9,2.58,10.81,7.62,999,1003.7,22.7,24.4,999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50038,50038,2020-12-31 19:00:00,75,6.4,8.9,3.39,14.81,8.17,308,1023.4,23.3,24.6,18.1
50039,50039,2020-12-31 20:00:00,82,7.2,10.3,3.18,14.81,8.15,291,1023.3,22.9,24.7,18.4
50040,50040,2020-12-31 21:00:00,68,7.3,9.1,3.03,14.81,8.16,289,1022.7,23.3,24.7,18.2
50041,50041,2020-12-31 22:00:00,51,7.9,9.7,3.19,14.81,8.31,285,1021.4,23.2,24.7,18.4
50042,50042,2020-12-31 23:00:00,60,9.8,12.0,3.03,14.81,8.01,319,1020.5,22.7,24.7,18.5

In [21]:
data1['WDIR_deg']=data1['WDIR_deg'].replace(to_replace=999, method='ffill')
data1['WSPD_m/s']=data1['WSPD_m/s'].replace(to_replace=99, method='ffill')
data1['GST_m/s']=data1['GST_m/s'].replace(to_replace=99, method='ffill')
data1['PRES_hpa']=data1['PRES_hpa'].replace(to_replace=9999, method='ffill')
data1['ATMP_deg']=data1['ATMP_deg'].replace(to_replace=999, method='ffill')
data1['WTMP_deg']=data1['WTMP_deg'].replace(to_replace=999, method='ffill')
data1['MWD_deg']=data1['MWD_deg'].replace(to_replace=999, method='ffill')
data1['APD_sec']=data1['APD_sec'].replace(to_replace=99, method='ffill')
data1['DPD_sec']=data1['DPD_sec'].replace(to_replace=99, method='ffill')
data1['DEWP_deg']=data1['DEWP_deg'].replace(to_replace=999, method='ffill')

In [22]:
data1

,Unnamed: 0,Date,WDIR_deg,WSPD_m/s,GST_m/s,WVHT_m,DPD_sec,APD_sec,MWD_deg,PRES_hpa,ATMP_deg,WTMP_deg,DEWP_deg
0,0,2015-01-01 19:00:00,240,7.5,9.6,3.38,12.12,7.96,999,1011.4,22.6,23.2,999.0
1,1,2015-01-02 12:00:00,264,5.0,6.5,2.92,9.09,7.64,999,1008.1,21.5,24.0,999.0
2,2,2015-01-02 18:00:00,222,6.0,7.6,2.86,9.09,7.71,999,1008.2,22.7,23.9,999.0
3,3,2015-01-02 22:00:00,209,5.8,7.4,2.46,10.81,7.39,999,1005.0,22.7,24.3,999.0
4,4,2015-01-02 23:00:00,217,4.8,5.9,2.58,10.81,7.62,999,1003.7,22.7,24.4,999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50038,50038,2020-12-31 19:00:00,75,6.4,8.9,3.39,14.81,8.17,308,1023.4,23.3,24.6,18.1
50039,50039,2020-12-31 20:00:00,82,7.2,10.3,3.18,14.81,8.15,291,1023.3,22.9,24.7,18.4
50040,50040,2020-12-31 21:00:00,68,7.3,9.1,3.03,14.81,8.16,289,1022.7,23.3,24.7,18.2
50041,50041,2020-12-31 22:00:00,51,7.9,9.7,3.19,14.81,8.31,285,1021.4,23.2,24.7,18.4
50042,50042,2020-12-31 23:00:00,60,9.8,12.0,3.03,14.81,8.01,319,1020.5,22.7,24.7,18.5

In [23]:
data1.to_excel("51000h2020_filtered_filled_with_pre_rows.xlsx")

In [24]:
df1=pd.read_excel(r"51000h2020_filtered_filled_with_pre_rows.xlsx")

In [25]:
df1

,Unnamed: 0,Unnamed: 0.1,Date,WDIR_deg,WSPD_m/s,GST_m/s,WVHT_m,DPD_sec,APD_sec,MWD_deg,PRES_hpa,ATMP_deg,WTMP_deg,DEWP_deg
0,0,0,2015-01-01 19:00:00,240,7.5,9.6,3.38,12.12,7.96,999,1011.4,22.6,23.2,999.0
1,1,1,2015-01-02 12:00:00,264,5.0,6.5,2.92,9.09,7.64,999,1008.1,21.5,24.0,999.0
2,2,2,2015-01-02 18:00:00,222,6.0,7.6,2.86,9.09,7.71,999,1008.2,22.7,23.9,999.0
3,3,3,2015-01-02 22:00:00,209,5.8,7.4,2.46,10.81,7.39,999,1005.0,22.7,24.3,999.0
4,4,4,2015-01-02 23:00:00,217,4.8,5.9,2.58,10.81,7.62,999,1003.7,22.7,24.4,999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50038,50038,50038,2020-12-31 19:00:00,75,6.4,8.9,3.39,14.81,8.17,308,1023.4,23.3,24.6,18.1
50039,50039,50039,2020-12-31 20:00:00,82,7.2,10.3,3.18,14.81,8.15,291,1023.3,22.9,24.7,18.4
50040,50040,50040,2020-12-31 21:00:00,68,7.3,9.1,3.03,14.81,8.16,289,1022.7,23.3,24.7,18.2
50041,50041,50041,2020-12-31 22:00:00,51,7.9,9.7,3.19,14.81,8.31,285,1021.4,23.2,24.7,18.4
50042,50042,50042,2020-12-31 23:00:00,60,9.8,12.0,3.03,14.81,8.01,319,1020.5,22.7,24.7,18.5

In [26]:
df1.Date = pd.to_datetime(df1.Date)
min_date = df1.Date.min()
max_date = df1.Date.max()
dates_range = pd.date_range(min_date, max_date, freq = '1H')
df1.set_index('Date', inplace=True)
df2=pd.DataFrame(dates_range).set_index(0)
df3 = df2.join(df1)

In [27]:
df3

,Unnamed: 0,Unnamed: 0.1,WDIR_deg,WSPD_m/s,GST_m/s,WVHT_m,DPD_sec,APD_sec,MWD_deg,PRES_hpa,ATMP_deg,WTMP_deg,DEWP_deg
0,,,,,,,,,,,,,
2015-01-01 19:00:00,0.0,0.0,240.0,7.5,9.6,3.38,12.12,7.96,999.0,1011.4,22.6,23.2,999.0
2015-01-01 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-01 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-01 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-01 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31 19:00:00,50038.0,50038.0,75.0,6.4,8.9,3.39,14.81,8.17,308.0,1023.4,23.3,24.6,18.1
2020-12-31 20:00:00,50039.0,50039.0,82.0,7.2,10.3,3.18,14.81,8.15,291.0,1023.3,22.9,24.7,18.4
2020-12-31 21:00:00,50040.0,50040.0,68.0,7.3,9.1,3.03,14.81,8.16,289.0,1022.7,23.3,24.7,18.2
2020-12-31 22:00:00,50041.0,50041.0,51.0,7.9,9.7,3.19,14.81,8.31,285.0,1021.4,23.2,24.7,18.4
2020-12-31 23:00:00,50042.0,50042.0,60.0,9.8,12.0,3.03,14.81,8.01,319.0,1020.5,22.7,24.7,18.5

In [26]:
df3.to_excel("51000h2020_missing_data.xlsx")

In [27]:
df2020=pd.read_excel("51000h2020_missing_data.xlsx")

In [28]:
df2020.fillna(method='ffill', inplace=True)

In [29]:
df2020

,Date,WDIR_deg,WSPD_m/s,GST_m/s,WVHT_m,DPD_sec,APD_sec,MWD_deg,PRES_hpa,ATMP_deg,WTMP_deg
0,2015-08-20 21:00:00,117.0,5.6,6.4,1.71,9.09,6.63,58.0,1015.7,26.4,26.6
1,2015-08-20 22:00:00,117.0,5.1,6.0,1.68,10.00,6.54,82.0,1015.5,26.3,26.7
2,2015-08-20 23:00:00,111.0,3.5,4.3,1.76,9.09,6.80,58.0,1015.1,26.3,26.8
3,2015-08-21 00:00:00,111.0,4.4,5.2,1.82,8.33,7.10,49.0,1014.4,26.4,27.0
4,2015-08-21 01:00:00,100.0,5.7,7.0,1.64,9.09,6.90,56.0,1014.1,26.6,26.9
...,...,...,...,...,...,...,...,...,...,...,...
47038,2020-12-31 19:00:00,75.0,6.4,8.9,3.39,14.81,8.17,308.0,1023.4,23.3,24.6
47039,2020-12-31 20:00:00,82.0,7.2,10.3,3.18,14.81,8.15,291.0,1023.3,22.9,24.7
47040,2020-12-31 21:00:00,68.0,7.3,9.1,3.03,14.81,8.16,289.0,1022.7,23.3,24.7
47041,2020-12-31 22:00:00,51.0,7.9,9.7,3.19,14.81,8.31,285.0,1021.4,23.2,24.7
47042,2020-12-31 23:00:00,60.0,9.8,12.0,3.03,14.81,8.01,319.0,1020.5,22.7,24.7

In [30]:
#df2020.to_excel("51000h_missing_filled.xlsx")